
#wizard {
  position: fixed;
  top: 60px;
  left: 100px;
  width: 75%;
  z-index: 200;
  opacity: 1;
  background-color: blanchedalmond;
  border: 2pt solid pink;
}

#wizard.debug {
  width: 75%;
}

#wizard.move-down {
  top: 210px;
}

#wizard-body {
    min-height: 150px;
    height: 250px;
}

#wizard-content {
  float: left;
  min-width: 500px;
  width: 70%;
  margin: 3px 2px;
}

#wizard-content-body {
  max-height: 300px;
  min-height: 140px;
  overflow-y: scroll;
  margin: 0 3px;
  clear: both;
  padding: 3px 3px;
}


#wizard li.selected {
  background-color: pink;
}

#wizard li.selected:hover  {
  background-color: orange;
}

#wizard li:hover {
  background-color: #ffc;
}


#wizard ul {
  list-style-type: disc;
  list-style-position: outside;
  font-size: 80%;
  line-height: 14pt;
  cursor: pointer;
  max-height: 120px;
  overflow-y: scroll;
    margin-top: 3pt;
    margin-bottom: 10px;
    padding: 1px 12px 1px;

}


#wizard-content-body input[type="text"] {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  font: 12pt HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 24pt;
  margin: 3px;
  max-width: 100%;
  outline: medium none;
  padding: 6px 4px;    
  width: 70%;
} 
  
div#wizard .title {
  margin: 6px 7px 6px;
}

#wizard-button-bar {
  float: right;
}

#wizard-content-title {
  margin: 6px 7px 6px;
  font-size: 16pt;
  float: left;
}

div#wizard .cancel {
  float: right;
  position: relative;
  color: red;
  font-size: 80%;
}

div#wizard .cancel:hover {
  background-color: pink;
}

#wizard button {
  height: 33px;
  width:  150px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;  
}

#wizard #wizard-ok-button {
    float: right;
}

#wizard-content-data button {
  background-color:#cfc
}

#wizard label {
    color: #339;
    font-size: 10pt;
    font-weight: bold;
    margin: 8px 8px;
        margin-left: 8px;
}

#wizard-content-data #wizard-data-1 label {
    margin: 10px 3px;
    min-width: 3px;
    max-width: 48px;
    padding: 2px;
}

#wizard-content-data #wizard-data-1 input[type="radio"] {
  margin: 3px 2px;
} 

#wizard-content-data #wizard-data-1 label:hover {
  background-color: pink;
} 

#wizard-content-body label {
    min-width: 220px;
    display: inline-block;
}

#wizard-content-data #wizard-data-1.language label {
    max-width: 148px;
}

.wizard-ok-button {
  background-color:#cfc
}

/* Wizard Footer */

#wizard-forward-button-wrapper {
  float:right
}

.wizard-footer-button {
  margin: 5px 1px 5px 5px;
  width: 15%;
  min-width: 175px;
  display: inline-block;
}

/* Wizard Sidebar */


#wizard-sidebar {
  width: 170px;
  float: left;
  margin: 3px 2px;
  padding-bottom: 12px;
}

#wizard-sidebar label {
  cursor: pointer;
  white-space: nowrap;  
  display: block;
  font-size: 90%;
  line-height: 10pt;
  font-weight: bold;
  margin: 6px 6px;
}

#wizard-sidebar label:hover {
	background-color:  #9cf;
        opacity: 1;
        padding: 3px;
  font-style: italic;
}










#wizard-data-body input[type="text"] {
  width: 60%;
} 

#wizard-data-body label.wizard-data-label {
  margin-left: 3px;
  min-width: 3px;
} 

#wizard-data-body label {
  min-width: 100px;
  display: inline-block;
} 

#wizard-data-body .wizard-data-label:hover {
  background-color: pink;
} 


div#wizard-data-wrapper-0 {
  max-height: 100px;
  overflow: scroll;
  margin: 0 3px;
  padding: 3px 3px;
}


div#wizard span { 
  opacity: .75;
}

div#wizard :checked + span { 
  font-weight: bold;
  opacity: 1;
}

#wizard-controls input {
  float: none;
}
div#wizard input[type="button"] {
    vertical-align: bottom;
    height: 20px;
    font-size: 7pt;
    line-height: 8pt;
    margin: 4px 7px;
}

div#wizard-submit {
  margin: 3px 2px;
}


div#wizard-data-body {
    padding: 2px 5px;
}

div#wizard-data-body .wizard-data-wrapper {
    border: none;
}

  
div#wizard-data-body input[type="text"] {
  margin: 3px 2px;
}


div#wizard .title {
  margin: 6px 7px 6px;
}

div#wizard .cancel {
  float: right;
  position: relative;
  color: red;
  background-color: #ffc4e7;
  font-size: 80%;
}

div#wizard .cancel:hover {
  background-color: pink;
}


div#wizard-data-entry {
  float: left;
  min-width: 500px;
  margin: 3px 2px;
}

div.testing {
    display: block;
    border: 1pt solid red;
}

div.testing1 {
    display: block;
    border: 1pt solid blueviolet;
}

div.testing2 {
    display: block;
    border: 1pt solid red;
}

div.testing3 {
    display: block;
    border: 1pt solid darkorange;
}

/*Custom settings 
*/

#wizard-data-body.option-open-3 #wizard-data-wrapper-1 {
  display: none;
} 

#wizard-data-body .option-open-7 label {
  min-width: 3px;
} 
