<template>
  <div class="container">
    <div>
      <logo />
      <h3>
        Wizard Demo
      </h3>
      <div id="left-column" class="left">
        <div>
          <label @click="optionOne">
            Demo
          </label>
        </div>
        <div>
          <label @click="optionTwo">
            User
          </label>
        </div>
        <div>
          <label @click="optionThree">
            About
          </label>
        </div>
        <h5>
          <pre>
          {{ appSampleContent }}
          </pre>
        </h5>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Logo from '~/components/Logo.vue'

export default {
  name: 'HomePage',
  components: {
    Logo
  },
  data() {
    return {
      curSelection: 0
    }
  },
  computed: {
    ...mapGetters(['appSampleContent', 'appId']),
    ...mapGetters('wizard', ['getWizard_Test'])
  },
  methods: {
    ...mapActions('wizard', ['wizard_Open']),
    ...mapActions(['appFetchSampleInfo']),
    optionOne() {
      const option = { base: 'tasks' }
      this.wizard_Open(option)
    },
    optionTwo() {
      const option = { base: 'user' }
      this.wizard_Open(option)
    },
    optionThree() {
      this.wizard_Open()
    }
  }
}
</script>

<style></style>
