<template>
  <div id="wizard-footer">
    <div id="wizard-prev-button-wrapper" class="wizard-footer-button">
      <button
        v-show="getWizard_Active.prevButtonVisible"
        id="wizard-prev-button"
        class="btn-danger"
        @click="wizard_PrevButtonClick"
      >
        {{ getWizard_Active.prevButtonText }}
      </button>
    </div>
    <div id="wizard-forward-button-wrapper" class="wizard-footer-button">
      <button
        v-show="
          getWizard_Active.forwardButtonVisible ||
            getWizard_CurrentSelectionId >= 0
        "
        id="wizard-forward-button"
        class="btn-primary"
        @click="
          wizard_ForwardButtonClick({
            e: $event,
            payload: w_payload
          })
        "
      >
        {{ getWizard_Active.forwardButtonText }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      w_payload: {}
    }
  },
  computed: {
    ...mapGetters('wizard', [
      'getWizard_Active',
      'getWizard_CurrentSelectionId',
      'getWizard_CurrentSelection'
    ])
  },
  // This is needed to capture the payload of the current wizard
  // independently of the timing of the reactive wizard updates
  watch: {
    getWizard_Active() {
      this.w_payload = this.getWizard_Active.payload
    }
  },
  methods: {
    ...mapActions('wizard', [
      'wizard_ForwardButtonClick',
      'wizard_PrevButtonClick'
    ])
  }
}
</script>
