<template>
  <div id="wizard-text-entry">
    <div id="wizard-content-data">
      <slot name="label"></slot>
      <input
        ref="wizard-data-1"
        type="text"
        :value="getWizard_Selections[getWizard_ActiveId]"
        @change="
          wizard_SelectItem({
            e: $event,
            id: 0,
            item: $event.target.value
          })
        "
      />
      <slot name="button-bar"></slot>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('wizard', [
      'getWizard_Selections',
      'getWizard_ActiveId',
      'getWizard_Active'
    ]),
    inputValue() {
      let value = this.getWizard_Selections[this.getWizard_ActiveId]
      if (!value) {
        value = this.getWizard_Active.defaultContent
      }
      return value
    }
  },
  mounted() {
    this.$refs['wizard-data-1'].focus()
  },
  methods: {
    ...mapActions('wizard', ['wizard_SelectItem'])
  }
}
</script>
