<template>
  <div id="wizard-select-entry">
    <div id="wizard-content-data">
      <slot name="label"></slot>
      <div id="wizard-data-1" :class="getWizard_ActiveId.toLowerCase()">
        <label
          v-for="(item, index) in Object.keys(selectSource)"
          :key="index"
          :for="'wizard-data-1-input-' + index"
        >
          {{ selectSource[item] }}
          <input
            :id="'wizard-data-1-input-' + index"
            name="wizard-data-1-input"
            :value="item"
            :checked="item === getWizard_Selections[getWizard_ActiveId]"
            type="radio"
            @input="
              wizard_SelectItem({
                e: $event,
                index,
                item: $event.target.value
              })
            "
          />
        </label>
      </div>
      <input
        ref="wizard-data-1"
        type="hidden"
        :value="getWizard_Selections[getWizard_ActiveId]"
      />
      <slot name="button-bar"></slot>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['appConfig']),
    ...mapGetters('wizard', [
      'getWizard_Selections',
      'getWizard_ActiveId',
      'getWizard_Active'
    ]),
    selectSource() {
      let list = this.appConfig.settings[this.getWizard_Active.selectSource]
      if (!list) {
        list = {}
      }
      return list
    },
    defaultValue() {
      return this.getWizard_Active.defaultContent
    }
  },
  methods: {
    ...mapActions('wizard', ['wizard_SelectItem'])
  }
}
</script>
