<template>
  <div id="wizard-item-list">
    <div id="wizard-content-data">
      <ul id="wizard-content-data-list">
        <li
          v-for="(item, key, index) in getListContents"
          :id="'wizard-item-' + index"
          :key="key"
          :class="getWizard_CurrentSelectionId === index ? 'selected' : ''"
          @click="
            wizard_SelectItem({
              e: $event,
              index,
              item: item,
              fn: 'onSelectAction'
            })
          "
        >
          {{ item }}
        </li>
      </ul>
      <slot name="button-bar"></slot>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      itemList: []
    }
  },
  computed: {
    ...mapGetters(['appConfig', 'appFormContentValue']),
    ...mapGetters('wizard', [
      'getWizard_CurrentSelectionId',
      'getWizard_ActiveId',
      'getWizard_Active'
    ]),
    getListContents() {
      const data = this.itemList
      if (!data) return []
      if (data.sorted) return data.items
      const result = {}

      const order = Object.keys(data)
      const ctr = 10000
      for (let i = 0; i < order.length; i++) {
        result[ctr.toString() + '_' + order[i]] = data[order[i]]
      }
      return result
    }
  },
  mounted() {
    let list = this.appFormContentValue(this.getWizard_ActiveId)
    this.itemList = list
    list = []
    if (!list) return
    // if there is only one item then select it
    if (list.length === 1) {
      this.wizard_SelectItem({
        id: 0,
        item: list[0]
      })
    }
  },
  methods: {
    ...mapActions('wizard', ['wizard_SelectItem'])
  }
}
</script>
