<template>
  <div
    id="wizard-master"
    @keyup.enter="
      wizard_ForwardButtonClick({
        e: $event,
        id: getWizard_CurrentSelectionId,
        item: getWizard_CurrentSelection
      })
    "
    @keyup.tab.prevent="
      wizard_OkButtonClick({
        e: $event,
        id: getWizard_CurrentSelectionId,
        item: getWizard_CurrentSelection
      })
    "
  >
    <h6>{{ getWizard_Test }}</h6>
    <div id="wizard-header" class="title">
      {{ getWizard_ActiveBaseTitle }}
    </div>
    <div id="wizard-body">
      <wizard-sidebar />
      <div id="wizard-content">
        <slot name="title"></slot>
        <slot name="body"></slot>
      </div>
    </div>
    <wizard-footer></wizard-footer>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import WizardFooter from './WizardFooter.vue'
import WizardSidebar from './WizardSidebar.vue'

export default {
  components: {
    WizardFooter,
    WizardSidebar
  },
  computed: {
    ...mapGetters('wizard', [
      'getWizard_ActiveBase',
      'getWizard_ActiveBaseTitle',
      'getWizard_ActiveId',
      'getWizard_CurrentSelectionId',
      'getWizard_CurrentSelection',
      'getWizard_Active',
      'getWizard_Test',
      'getWizard_Label',
      'getWizard_ActiveBase'
    ])
  },
  methods: {
    ...mapActions('wizard', [
      'wizard_ForwardButtonClick',
      'wizard_OkButtonClick'
    ])
  }
}
</script>
