<template>
  <div id="wizard-info">
    <slot name="title"></slot>
    <pre>
      {{ getWizard_CurrentSelection }}
    </pre>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('wizard', ['getWizard_CurrentSelection'])
  }
}
</script>
