<template>
  <div id="wizard-sidebar">
    <label
      v-for="(op, key) of getWizard_OptionList(getWizard_ActiveBase)"
      :key="key"
      :for="'wizard-option-' + key"
    >
      <input
        :id="'wizard-option-' + key"
        type="radio"
        name="wizard-options-radio-select"
        :checked="getWizard_ActiveOptionNumber === key ? true : false"
        @click="
          wizard_OptionSelectClick({
            e: $event,
            index: key,
            option: op
          })
        "
      />
      <span>{{ getOptionDefTitle(op) }}</span>
    </label>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('wizard', [
      'getWizard_ActiveBase',
      'getWizard_ActiveOptionNumber',
      'getWizard_OptionDefs',
      'getWizard_OptionList'
    ]),
    getOptionDefTitle() {
      // The wizard_OptionDefs is site owner supplied and may be improperly
      // configured, i.e. missing or malformed options entries
      // so provide fallback in these edge cases
      return function(optionName) {
        const optionDef = this.getWizard_OptionDefs[optionName] || {
          // The fallback in the event of missing optionDef
          title: optionName
        }

        // The fallback in the event of malformed optionDef
        return optionDef.title || optionName
      }
    }
  },
  methods: {
    ...mapActions('wizard', ['wizard_OptionSelectClick'])
  }
}
</script>
