<template>
  <div id="reset-password">
    <div>
      <label>User Name</label>
      Argle Bargle
    </div>
    <div>
      <label>New Password</label>
      <input name="new_password" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'ResetPassword'
}
</script>

<style></style>
