<template>
  <div id="sample-content">
    <h2>
      <slot name="title"></slot>
    </h2>
    Sample Content goes here!!
  </div>
</template>

<script>
export default {
  name: 'SampleContent'
}
</script>

<style></style>
