<template>
  <div id="change-password">
    <div>
      <label>Old Password</label>
      <input type="password" name="old_password" />
    </div>
    <div>
      <label>New Password</label>
      <input type="password" name="new_password" />
    </div>
    <div>
      <label>New Password (again)</label>
      <input type="password" name="new_password_verify" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChangePassword'
}
</script>

<style></style>
