<template>
  <div id="app-sample">
    <h4>
      You entered:
    </h4>
    <pre>
      {{ appSampleContent }}
    </pre>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppSample',
  computed: {
    ...mapGetters(['appSampleContent'])
  }
}
</script>

<style></style>
