<template>
  <div id="wizard" :class="{ 'move-down': getWizard_MoveDown }">
    <wizard-master>
      <div id="wizard-content-title-bar" slot="title">
        <div id="wizard-content-title">
          {{ getWizard_Active.contentTitle }}
        </div>
        <div
          v-if="getWizard_Active.buttonBarVisible"
          id="wizard-button-bar"
          slot="button-bar"
        >
          <button
            class="wizard-ok-button"
            @click="
              wizard_OkButtonClick({
                e: $event,
                id: getWizard_CurrentSelectionId,
                item: getWizard_CurrentSelection,
                data: getWizard_CurrentSelectionData,
                fn: 'onSelectAction'
              })
            "
          >
            {{ getWizard_Active.okButtonText }}
          </button>
        </div>
      </div>
      <div id="wizard-content-body" slot="body">
        <component :is="getWizard_Id">
          <label v-if="getWizard_Label" id="wizard-data-1-label" slot="label">
            {{ getWizard_Label }}
          </label>
        </component>
      </div>
    </wizard-master>
  </div>
</template>

<script>
// App components
import { mapActions, mapGetters } from 'vuex'
import WizardMaster from '../../common/wizard/WizardMaster'

// Wizard components
import Info from '../../common/wizard/WizardInfo'
import ItemList from '../../common/wizard/WizardItemList'
import TextEntry from '../../common/wizard/WizardTextEntry'
import SelectEntry from '../../common/wizard/WizardSelectEntry'
import AdminResetPassword from '../local/AdminResetPassword'
import UserChangePassword from '../local/UserChangePassword'
import Blank from './WizardBlank'
import AppComponent from './WizardAppComponent'

export default {
  name: 'WizardAppContainer',
  computed: {
    ...mapGetters('wizard', [
      'getWizard_Id',
      'getWizard_CurrentSelection',
      'getWizard_CurrentSelectionData',
      'getWizard_CurrentSelectionId',
      'getWizard_Active',
      'getWizard_CurrentSelectionData',
      'getWizard_ActiveId',
      'getWizard_MoveDown',
      'getWizard_Show',
      'getWizard_Label'
    ])
  },
  components: {
    WizardMaster,
    tasks_0: ItemList,
    tasks_1: TextEntry,
    tasks_2: AppComponent,
    tasks_3: SelectEntry,
    tasks_4: Info,
    tools_0: Info,
    user_0: UserChangePassword,
    user_1: AdminResetPassword,
    user_2: Info,
    user_3: Blank
  },
  methods: {
    ...mapActions('wizard', ['wizard_OkButtonClick'])
  }
}
</script>

<style></style>
