<template>
  <div>
    <wizard-app-container v-show="getWizard_Show" />
    <nuxt />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import WizardAppContainer from '../components/app/wizard/WizardAppContainer'

export default {
  name: 'DefaultLayout',
  components: {
    WizardAppContainer
  },
  mounted() {
    this.systemInit()
  },
  computed: {
    ...mapGetters('wizard', ['getWizard_Show'])
  },
  methods: {
    ...mapActions(['systemInit'])
  }
}
</script>

<style></style>
